body {
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: black;
}

main {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#paleta {
    width: 80px;
    height: 20px;
}

.box {
    float: left;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.black {
    background-color: white;
}

.selected {
    border: 3px solid silver;
}

#board {
    width: 200px;
    height: 200px;
    border: 1px solid silver;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.row {
    display: table-row;
}

.pixel {
    width: 40px;
    height: 40px;
    display: table-cell;
    border: 1px solid silver;
    box-sizing: border-box;
}